[Desktop Entry]
Name=Capturador de Audio y Video
Comment=Aplicación para grabar video, audio y capturar pantalla
Exec=/home/anarquia/Documentos/PROGRAMAS/capturador_de_audio_video/ejecutar.sh
Icon=/home/anarquia/Documentos/PROGRAMAS/capturador_de_audio_video/packaging/linux/recorder.svg
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
Keywords=screen;recorder;audio;video;capture;