[Desktop Entry]
Version=1.0
Type=Application
Name=Capturador de Audio y Video
Comment=Grabador de pantalla con audio del sistema y micrófono
Exec=/usr/bin/env python3 PATHDIR/grabar_pantalla.py
Icon=recorder
Terminal=false
Categories=AudioVideo;Recorder;Utility;
Keywords=screen;recorder;capture;video;audio;grabación;pantalla;
StartupNotify=true